header {
  background-color: #003366;
  position: relative;
  z-index: 0;
}

.navbar {
  margin-bottom: 0;
  transition: all 0.2s ease-out;
  position: relative;
  z-index: 1;
}

.navbar-brand,
.navbar-nav > li > a {
  position: relative;
  z-index: 2;
}

.navbar-container {
  position: relative;
}

.navbar .navbar-nav li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease-out;
  margin-left: 16px;
}

/* hover時のスタイルを追加 */
.navbar .navbar-nav li a:hover {
  font-size: 18px; /* 少し大きくする */
  color: #ffcc00; /* オプション: 色を変える場合 */
  transition: font-size 0.2s ease-out, color 0.2s ease-out;
}

.navbar-brand {
  transition: all 0.2s ease-out;
}

.navbar-scroll {
  opacity: 1;
  transition: all 0.3s ease-out; 
}

.app-icon {
  background-color: initial;
}

@media (min-width: 768px) {
  .navbar {
    height: 120px;
  }

  .navbar-nav > li > a {
    padding: 15px 20px;
    margin: 0;
    text-align: center;
    line-height: normal;
  }

  .navbar-brand {
    padding: 0;
    height: 120px;
    line-height: 120px;
  }

  .navbar-scroll {
    height: 70px;
  }

  .navbar-scroll .navbar-brand {
    height: 70px;
    line-height: 70px;
  }

  .navbar-scroll .navbar-nav>li>a {
    opacity: 1;
    padding: 0;
    margin-top: 0;
  }
}
